# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtualenv
venv/
.env/
 ../venv/

# Fichiers Django
*.sqlite3
db.sqlite3
/media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Environnements secrets
.env.local
.env.production
